<nav id="nav1-top" class="navbar navbar-expand-md navbar-light sticky-top">
	<a class="navbar-brand" routerLink=""><img src="../../../assets/logo_cantin.gif" alt=""></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav1" aria-controls="nav1" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-3" id="nav1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-click nav-link active " routerLink="">Trang chủ</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
          Dịch vụ
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-click nav-link dropdown-item pl-3" routerLink="/dich-vu/to-chuc-su-kien">Tổ chức tiệc tư gia, tiệc cưới</a>
          <a class="nav-click nav-link dropdown-item pl-3" routerLink="/dich-vu/suat-an-cong-nghiep">Suất ăn công nghiệp</a>
          <a class="nav-click nav-link dropdown-item pl-3" routerLink="/dich-vu/cung-cap-thuc-pham">Cung cấp thực phẩm</a>
          <a class="nav-click nav-link dropdown-item pl-3" routerLink="/dich-vu/quay-dich-vu-tien-ich">Quầy dịch vụ tiện ích</a>
          <a class="nav-click nav-link dropdown-item pl-3" routerLink="/dich-vu/tu-van-thiet-ke">Tư vấn thiết kế, xây dựng bếp</a>
          <a class="nav-click nav-link dropdown-item pl-3" routerLink="/dich-vu/chuoi-nha-thuoc">Chuỗi nhà thuốc</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-click nav-link" routerLink="/tintuc-sukien">Tin tức & Sự kiện</a>
      </li>
      <li class="nav-item">
        <a class="nav-click nav-link" routerLink="/tuyen-dung">Tuyển dụng</a>
      </li>
      <li class="nav-item">
        <a class="nav-click nav-link" routerLink="/lien-he">Liên hệ</a>
      </li>
    </ul>

    <div class="social-icon">
    	<a href="https://www.facebook.com/C%C3%B4ng-Ty-TNHH-TMDV-Th%E1%BB%B1c-Ph%E1%BA%A9m-%C3%81-Ch%C3%A2u-1418333668265893" target="_blank"><i class="fa fa-facebook mr-2"></i></a>
    	<!-- <a href=""><i class="fa fa-instagram"></i></a> -->
    </div>
  </div>
</nav>

