<div class="row gioi-thieu">
  <div class="col-lg-6 left" id="gioithieu1-left">
  </div>
  <div class="col-lg-6 right introduce-company">
    <h2 id="gioithieu1-h2">Á Châu Catering</h2>
    <div class="the-border-bottom">
    </div>
    <div class="info scene-fadein" id="gioithieu1-scene-fadein">
      <!-- <p class="ss">Á Châu Catering chuyên cung cấp Suất ăn công nghiệp tại Bình Dương, Đồng Nai, TPHCM cho các nhà máy, xí nghiệp, các sự kiện, với nhiều năm hoạt động trong ngành. chúng tôi tự hào với đội ngũ nhân viên làm việc chuyên nghiệp, cống hiến hết mình để được sự hài lòng của khách hàng.</p> -->

      <p class="ss" style="text-align:justify">Thực phẩm Á Châu là Công ty chuyên cung cấp suất ăn công nghiệp, suất ăn trường học, dịch vụ ẩm thực, cung cấp thực
        phẩm, xin gửi lời chào đến Quý công ty!</p>
      <p style="text-align:justify">Với sứ mệnh mang đến cộng đồng những suất ăn công nghiệp chất lượng và an toàn, chúng tôi luôn tổ chức quy trình làm
        việc - nghiên cứu cải tiến định lượng suất ăn - đào tạo - phát triển đội ngũ nhân viên chuyên nghiệp.</p>
      <p style="text-align:justify">Trên tinh thần mong muốn được đồng hành và góp phần vào sự phát triển của công ty, thực phẩm Á Châu hân hạnh được hợp
        tác cùng Quý công ty. Chúng tôi tin rằng sự quan tâm của quý vị và kinh nghiệm tổ chức phục vụ của chúng tôi, cùng
        nhau chúng ta sẽ có giải pháp cho mọi vấn đề.</p>
      <p style="text-align:justify">Trân trọng kính chào!</p>
      <!-- <p class="mt-5">ĐT: 0901.47.40.48 | Email: tinhnq@achaucatering.com</p> -->

    </div>

    <!-- Với mục tiêu chất lượng dịch vụ lên hàng đầu -->

  </div>
</div>