<img src="assets/img/lien-he.jpg" alt="suat-an-cong-nghiep" width="100%">
<div class="lien-he mt-5 mb-3 container">
  <div class="row">
    <div class="col-md-6">
      <h3>Văn Phòng Á Châu Catering</h3>
      <hr>
      <p>54-56, đường số 44, P. Hoà Phú, Tp. Thủ Dầu Một, Bình Dương, Việt Nam</p>

      <p>Điện thoại: <a href="tel:+842746557598">02746.55.75.98</a> <br>Email: admin@achaucatering.com</p>

      <p><a href="tel:+84909161144">Mr.Đức - 0909.16.11.44</a> <br>Email: duc.nc@achaucatering.com</p>

      <p><a href="tel:+84901474048">Mr.Tịnh - 0901.47.40.48</a> <br>Email: tinhnq@achaucatering.com</p>

      <p>Mọi thắc mắc hoặc góp ý về sản phẩm và dịch vụ, quý khách hàng vui lòng gửi e-mail về cho chúng tôi để nhận được sự
        hỗ trợ tốt nhất.</p>
    </div>
    <div class="col-md-6">
      <h3>Thông Điệp</h3>
      <hr>
      <form>
        <div class="form-group">
          <label for="name">Tên</label>
          <input id="name" class="form-control" type="text" placeholder="Nhập tên của bạn tại đây">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" placeholder="Nhập email của bạn tại đây">
        </div>

        <div class="form-group">
          <label for="content">Nội dung</label>
          <textarea type="email" id="content" class="form-control" placeholder="Nhập thông điệp bạn muốn gửi" cols="50"></textarea>
        </div>

        <button class="btn btn-success px-4">Gửi</button>
      </form>
    </div>
  </div>
  
</div>
