<footer class="">
    <div class="container">
        <h1 class="footer-heading">Á Châu Catering</h1>
        <h3 class="website">www.AChauCatering.com</h3>
        <div class="row">
            <div class="col-md-4">
                <h4>Liên hệ</h4>
                <ul>
                    <li>
                        <i class="fa fa-address-book"></i> 54-56, đường số 44, P. Hoà Phú, Tp. Thủ Dầu Một, Bình Dương
                    </li>
                    <li>
                        <i class="fa fa-phone"></i> 
                        <a href="tel:+842746557598">02746.55.75.98</a>
                    </li>

                    <li>
                        <i class="fa fa-envelope"></i> 
                        <a href="mailto:admin@achaucatering.com">admin@achaucatering.com</a>
                    </li>
                    <div class="chitiet">
                        <li>
                            <a href="tel:+84909161144">Mr.Đức - 0909.16.11.44</a>
                        </li>
                        <li>
                            <a href="mailto:duc.nc@achaucatering.com">duc.nc@achaucatering.com</a>
                        </li>
                    </div>

                    <div class="chitiet">
                        <li>
                            <a href="tel:+84901474048">Mr.Tịnh - 0901.47.40.48</a>
                        </li>
                        <li>
                            <a href="mailto:tinhnq@achaucatering.com">tinhnq@achaucatering.com</a>
                        </li>
                    </div>
                    
                    <li>
                        <i class="fa fa-tv"></i> www.achaucatering.com
                    </li>
                </ul>
            </div>
            <!-- <p class="mt-5">Tel: 0901.47.40.48 | Email: </p> -->

            <!-- <div class="col-md-3 col-sm-6">
                <h4>Các Dịch Vụ</h4>
                <ul>
                    <li><a href="#">Suất ăn công nghiệp</a></li>
                    <li><a href="#">Cung cấp thực phẩm</a></li>
                    <li><a href="#">Quầy dịch vụ tiện ích</a></li>
                    <li><a href="#">Tổ chức tiệc hội nghị, sự kiện</a></li>
                    <li><a href="#">Tư vấn thiết kế, xây dựng bếp</a></li>
                    <li><a href="#">Chuỗi nhà thuốc</a></li>
                </ul>
            </div> -->

            <div class="col-md-2">
                <h4>Mạng xã hội</h4>
                <ul>
                    <li><a href="https://www.facebook.com/C%C3%B4ng-Ty-TNHH-TMDV-Th%E1%BB%B1c-Ph%E1%BA%A9m-%C3%81-Ch%C3%A2u-1418333668265893" target="_blank">Facebook</a></li>
                    <li>Zalo</li>
                    <li>Instagram</li>
                </ul>
            </div>

            <div class="col-md-6 footer-map">
                <app-map></app-map>
            </div>

            <!-- <div class="col-md-3 col-sm-6">
                <h4>Gallary</h4>
                <div class="gallary">
                    <img class="sm-img" src="assets/img/gallary/anh1.jpg">
                    <img class="sm-img" src="assets/img/gallary/anh2.jpg">
                    <img class="sm-img" src="assets/img/gallary/anh3.jpg">
                    <img class="sm-img" src="assets/img/gallary/anh4.jpg">
                    <img class="sm-img" src="assets/img/gallary/anh5.jpg">
                    <img class="sm-img" src="assets/img/gallary/anh5.jpg">
                </div>
            </div> -->
        </div>

        <!-- <div class="info"> -->
        <!-- <h3 class="mt-4">
                <a href="#"><i class="fa fa-facebook mr-2"></i></a>
                <a href=""><i class="fa fa-instagram mr-5"></i></a> Á Châu Catering
            </h3>
    
            <p>Tel: 0901.47.40.48 | Email:tinhnq@achaucatering.com</p> -->

        <!-- <div class="back-to-top">
                <a href="#"><i class="fa fa-chevron-up"></i><p class="mt-1 mb-5">Back to Top</p></a>
            </div> -->
        <!-- </div> -->

        <!-- <div id="map"></div> -->
    </div>

    
</footer>

<button class="btn btn-outline-success btn-sm gototop" (click)="gotoTop(0)">Top</button>


