<div id="parallax1">
    <h1>Chuyên Cung Cấp Thực Phẩm Tươi Sống Chất Lượng</h1>
    <div class="gioi-thieu d-flex align-items-center row">
        <div class="col-sm-4 kind">
            <img class="img-fluid img-thumbnail" src="assets/img/cung-cap-thuc-pham/cctp-gioithieu1.jpg" alt="Cung cấp rau củ quả tươi sống chất lượng, giá rẻ">
            <h3>Rau, Củ, Quả</h3>
        </div>
        <div class="col-sm-4 kind">
            <img class="img-fluid img-thumbnail" src="assets/img/cung-cap-thuc-pham/cctp-gioithieu2.jpg" alt="Cung cấp thịt cá trưng tươi sống chất lượng, giá rẻ">
            <h3>Thịt, Cá, Trứng</h3>
        </div>
        <div class="col-sm-4 kind">
            <img class="img-fluid img-thumbnail" src="assets/img/cung-cap-thuc-pham/cctp-gioithieu3.jpg" alt="Cung cấp gia vị chất lượng, giá rẻ">
            <h3>Gia vị, Bột Nêm</h3>
        </div>
    </div>
</div>
 
<div id="parallax2">
    <div class="row parallax2">

        <div class="col-md-6 order-md-2">
            <div class="cctp-info">
                <h2 class="head-title" style="text-align: left;">Á Châu Food</h2>
                <p>Luôn ý thức được rằng chế độ dinh dưỡng và an toàn cho sức khỏe đến mọi người, mọi nhà. Thực Phẩm Á Châu không ngừng nỗ lực, luôn vận động, thay đổi, tìm kiếm cái mới để phục vụ khách hàng những giá trị cao nhất. Với Thực Phẩm Á Châu, chất lượng sản phẩm là trên hết nhưng cái tâm của người trồng rau, hoa quả, sản phẩm từ thịt, người bán thực phẩm còn quý hơn. "Vàng thì thử lửa thử than" chứ sức khoẻ tính mạng con người thì không thể đem ra thử nghiệm. chúng tôi với thương hiệu Thực Phẩm Á Châu gửi lời cảm ơn và tri ân thân thiết đến các khách hàng và các đối tác đã ủng hộ quý công ty suốt thời gian qua.Thực Phẩm Á Châu sẽ luôn cố gắng nỗ lực để xứng đáng với lòng tin ấy.</p>
            </div>
        </div>

        <div class="col-md-6 order-md-1">
            <!-- dsd -->
        </div>
    </div>
</div>

<app-cac-doi-tac></app-cac-doi-tac>
<!-- <img [src]="imgURls.img1.url" [attr.alt]="imgURls.img1.title"> -->