<div class="bcg-parallax">
    <h1>Các đối tác</h1>
    <div id="jssor_1">
        <div id="jssor-content" data-u="slides" style="">
            <div>
                <img data-u="image" src="assets/img/200x150/001.jpg" />
            </div>
            <div>
                <img data-u="image" src="assets/img/200x150/002.jpg" />
            </div>
            <div>
                <img data-u="image" src="assets/img/200x150/003.jpg" />
            </div>
            <div>
                <img data-u="image" src="assets/img/200x150/004.jpg" />
            </div>
            <div>
                <img data-u="image" src="assets/img/200x150/009.jpg" />
            </div>
            <div>
                <img data-u="image" src="assets/img/200x150/010.jpg" />
            </div>
            <div>
                <img data-u="image" src="assets/img/200x150/011.jpg" />
            </div>
            <div>
                <img data-u="image" src="assets/img/200x150/012.jpg" />
            </div>
            <div>
                <img data-u="image" src="assets/img/200x150/003.jpg" />
            </div>
            <div>
                <img data-u="image" src="assets/img/200x150/010.jpg" />
            </div>
        </div>
    </div>
</div>