<div class="dich-vu card-group">
  <div id="dv1" class="card scene-fadein">
    <img class="card-img-top" src="assets/the1.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Tiệc tư gia - Sự kiện</h4>
      <div class="the-border-bottom"></div>
      <p class="card-text">Cung cấp cho bạn những thực đơn tiệc cùng phong cách trang trí phù hợp với từng sự kiện cũng như các hình thức tiệc khác nhau như set menu,…</p>
    </div>
    <div class="card-footer bg-transparent"><a class="xem-them" routerLink="/to-chuc-su-kien">Xem thêm</a></div>
  </div>
  <div id="dv2" class="card scene-fadein">
    <img class="card-img-top" src="assets/the2.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Suất Ăn Công Nghiệp</h4>
      <div class="the-border-bottom"></div>
      <p class="card-text">Cung cấp phần ăn cho công ty, nhà máy, trường học với mục tiêu chất lượng, tươi sạch và giá cả hợp lý...</p>
    </div>
    <div class="card-footer bg-transparent"><a class="xem-them" routerLink="/suat-an-cong-nghiep">Xem thêm</a></div>
  </div>
  <div id="dv3" class="card scene-fadein">
    <img class="card-img-top" src="assets/the3.webp" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Cung cấp thực phẩm</h4>
      <div class="the-border-bottom"></div>
      <p class="card-text">Chuyên cung cấp rau củ quả, thực phẩm tươi sống, gia vị cho nhà hàng khách sạn, bếp ăn công nghiệp, trường học...</p>
    </div>
    <div class="card-footer bg-transparent"><a class="xem-them" routerLink="/cung-cap-thuc-pham">Xem thêm</a></div>
  </div>
</div>
