<div class="container my-3">
  <h1 class="text-center">TIN TỨC & SỰ KIỆN</h1>
  <div class="row mt-3">
    <div class="col-md-6 img-cangtin">
      <img src="assets/img/tintuc-sukien/Anh-BB.jpg" alt="can-tin" class="img-fluid img-thumbnail img">
    </div>
    <div class="col-md-6">
      <h3 class="mb-3">Đoàn Giám sát Ban Văn hóa - xã hội HĐND tỉnh: Giám sát các bếp ăn tập thể tại Bàu Bàng</h3>
      <p class="created-data">
        <small>29-3-2017</small>
      </p>
      <p>(BDO) Sáng 29-3, Đoàn Giám sát của Ban Văn hóa - xã hội (VH-XH) HĐND tỉnh do ông Trịnh Đức Tài, Trưởng ban VH-XH HĐND
        tỉnh làm trưởng đoàn đã có buổi giám sát bếp ăn tập thể của các trường học, doanh nghiệp trên địa bàn huyện Bàu Bàng,
        gồm: Trường Tiểu học Long Nguyên (xã Long Nguyên), Trường Mầm non Lai Uyên, Trường Mầm non Ánh Dương (xã Lai Uyên),
        Công ty TNHH Top outdoor Vina (xã Lai Uyên).</p>
      <a class="btn btn-sm btn-outline-success pointer" href="http://m.baobinhduong.vn/doan-giam-sat-ban-van-hoa-xa-hoi-hdnd-tinh-giam-sat-cac-bep-an-tap-the-tai-bau-bang-a178519.html" target="_blank">Xem thêm</a>
    </div>


    <div class="col-md-6 img-cangtin">
      <img src="assets/img/tintuc-sukien/khaitruong2.jpg" alt="can-tin" class="img-fluid img-thumbnail img">
    </div>
    <div class="col-md-6">
      <h3 class="mb-3">CĂN TIN MỚI KHAI TRƯƠNG THÁNG 11/2017</h3>
      <!-- <app-btn-xemthem></app-btn-xemthem> -->
    </div>

    <nav>
      <!-- phân trang tin tức sự kiện  -->
    </nav>

  </div>
</div>