<div class="gioi-thieu-2">
  <!-- <div class="the suat-an">
    <h2 class="mt-1">Các Món Ăn Trong Menu</h2>
    <h4>A Sneak Peak of the <br>New Spring Menu</h4>
    <div class="the-border-bottom"></div>
    <p>Cung cấp quầy dịch vụ bán nước, bánh, đồ ăn nhẹ</p>
    <p>Peas with Mint and Rose Petals</p>
    <p>Grilled Corn with Herb Butter</p>
    <p>Falafel-Spiced Tomatoes on Whole Wheat Flatbread</p>
    <p>Primavera Risotto</p>
    <p>Farmer’s Market Quinoa Salad</p>
    <p>Sparkling Wine with Ginger Ale and Cherries</p>
    <a class="btn btn-info xem-menu mt-4" href="#">Xem Menu</a>
  </div> -->

  <div id="gt2" class="card scene-fadein">
    <div class="card-body">
      <h2 class="card-title">Các Món Ăn Trong Menu</h2>
      <h6 class="card-subtitle mb-2 text-muted">Đơn giá theo yêu cầu</h6>
      <div class="the-border-bottom"></div>
      <p class="card-text" style="text-align:justify">Menu bao gồm các món mặn, món canh, món xào, món tráng miệng. Các món ăn sẽ được chọn lựa thành menu thay đổi theo ngày và sẽ không bị trùng nhau trong nhiều tháng nên người ăn sẽ không tạo cảm giác ngán khi ăn những món ăn giống nhau. Đặc biệt đơn giá của một phần ăn sẽ theo yêu cầu của khách hàng với chất lượng tốt nhất.</p>
    </div>
    <div class="card-footer bg-transparent mb-2">
      <a class="btn btn-info xem-menu" routerLink="/dich-vu/thuc-don-to-chuc-tiec">Xem Menu</a>
    </div>
  </div>
</div> 

